body {
    margin: 20px;
    font-family: serif;
}

.img {
    width: 150px;
    height: 150px;
}

.card {
    width: 400px;
    border-bottom: 5px solid #d8cefe;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
}

.card:hover {
    cursor: progress;
}